:root {
  --background-color: #f7feff;
  --text: #000040;
  --hover: #97abff;
  --max-width: 1440px;
  --content-width: 1200px;
}
body {
  background-color: var(--background-color);
  color: var(--text);
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  min-width: 320px;
  max-width: var(--max-width);
}
.wrapper {
  max-width: var(--content-width);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 20px 0px 20px;
}
.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 2;
}
.header__menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  z-index: 3;
  max-width: var(--max-width);
  margin: 0 auto;
}
.menu__button {
  border-radius: 12px;
  padding: 10px 10px;
  background-color: var(--background-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease 0s;
}
.menu__button a {
  text-decoration: none;
  color: var(--text);
}
.menu__button:hover {
  background-color: var(--hover);
  transition: all 0.5s ease 0s;
}

.menu__body {
  flex: 0 0 750px;
}
.menu__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.menu__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: var(--text);
  font-size: 24px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease 0s;
}
.menu__link::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--hover);
  height: 4px;
  width: 15px;
  transition: all ease-in-out 1s;
}
.menu__link:hover::after {
  width: 100%;
  transition: all ease-in-out 1s;
}
.menu__link:hover {
  color: var(--hover);
  transition: all 0.3s ease 0s;
}
.main {
  display: flex;
  flex-direction: column;
}
.contacts__img {
  display: block;
  width: 225px;
  height: 225px;
  border-radius: 50%;
}
.contacts {
  display: flex;
  justify-content: space-around;
}
.contacts__body {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.contacts__list {
  display: flex;
}
.contacts__list li {
  list-style: none;
  margin: 0px 60px 0px 0px;
  position: relative;
}
.contacts__list li:nth-child(2),
.contacts__list li:nth-child(4),
.contacts__list li:nth-child(6) {
  animation: circle 2s linear infinite alternate running 0s;
}
.contacts__list li:nth-child(1),
.contacts__list li:nth-child(3),
.contacts__list li:nth-child(5) {
  animation: circle 2s linear infinite alternate-reverse running 0s;
}
@keyframes circle {
  0% {
    left: 0%;
  }
  100% {
    left: 5%;
  }
}
.contacts__link svg {
  width: 35px;
  height: 35px;
}
.contacts__list svg {
  transition: all 0.5s ease 0s;
}
.contacts__list svg:hover {
  transform: scale(1.5);
  transition: all 0.5s ease 0s;
}
.main__summary {
  margin: 100px 0px 50px 0px;
}
.summary__title {
  font-size: 64px;
  display: flex;
  justify-content: end;
  position: relative;
  margin: 60px 0px;
}
.summary__title::after,
.summary__subtitle::after {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  background-color: var(--hover);
  top: 70px;
  transition: all ease-in-out 1.5s;
}
.summary__title:hover::after {
  width: 51%;
  transition: all ease-in-out 1.5s;
}
.summary__subtitle {
  font-size: 48px;
  display: flex;
  justify-content: center;
  position: relative;
}
.summary__subtitle:hover::after {
  width: 47%;
  transition: all ease-in-out 1s;
}
.summary__description {
  font-size: 32px;
  display: flex;
  justify-content: end;
  margin: 80px 0px 0px 0px;
}
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
  border-radius: 14px;
  margin-top: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.skills__subtitle {
  margin: 30px 0px 0px 60px;
  font-size: 30px;
  color: var(--background-color);
}
.skills__title {
  margin: 20px 0px 10px 0px;
  font-size: 48px;
  color: var(--text);
  text-align: center;
}
.skills__list {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.skills__list li {
  margin: 10px 0px 10px 0px;
}
.skills__item {
  text-align: center;
  list-style: none;
  font-size: 36px;
  color: var(--background-color);
  transform: translate(0px, 0px);
  transition: all 0.5s ease 0s;
}
.skills__item:hover {
  transform: translate(-20px, 0px);
  transition: all 0.5s ease 0s;
  cursor: default;
  color: var(--text);
}
.languages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.languages {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}
.languages__subtitle {
  margin: 0px 0px 0px 60px;
  font-size: 30px;
  color: var(--text);
}
.languages__title {
  margin: 0px 0px 20px 0px;
  font-size: 48px;
  color: var(--text);
  text-align: center;
}
.languages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.languages__list li {
  margin: 10px 0px 10px 0px;
}
.languages__item {
  text-align: center;
  list-style: none;
  font-size: 36px;
  color: var(--text);
  transform: rotate(0deg);
  transition: all 0.5s ease 0s;
}
.languages__item:hover {
  transform: rotate(-5deg);
  transition: all 0.5s ease 0s;
  cursor: default;
}
.languages__item:nth-child(4):hover {
  transform: rotate(0deg);
}
.languages__link {
  text-decoration: none;
  color: var(--text);
  position: relative;
  transition: all 0.5s ease 0s;
}
.languages__link::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--hover);
  height: 4px;
  width: 30px;
  left: 0px;
  transition: all ease-in-out 1.5s;
}
.languages__link:hover {
  color: var(--hover);
  transition: all 0.5s ease 0s;
}
.languages__link:hover::after {
  width: 100%;
  transition: all ease-in-out 1.5s;
}
.code {
  margin: 0px 0px 40px 0px;
}
.code__subtitle {
  margin: 0px 0px 0px 60px;
  font-size: 30px;
  color: var(--text);
}
.code__title {
  margin: 0px 0px 40px 0px;
  font-size: 48px;
  color: var(--text);
  text-align: center;
}
.code__example {
  margin-left: 100px;
}
.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
  border-radius: 14px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.experience__subtitle {
  margin: 30px 0px 0px 60px;
  font-size: 30px;
  color: var(--background-color);
}
.experience__title {
  margin: 10px 0px 40px 0px;
  font-size: 48px;
  color: var(--text);
  text-align: center;
}
.company__factory {
  margin: 0px 0px 40px 0px;
}
.description__title {
  margin: 0px 0px 20px 60px;
  font-size: 34px;
  color: var(--text);
}
.description__subtitle {
  margin: 10px 0px 0px 60px;
  font-size: 30px;
  color: var(--text);
}
.description__time {
  margin: 10px 0px 0px 60px;
  font-size: 24px;
  color: var(--text);
}
.duties {
  display: flex;
  justify-content: end;
  margin: 0px 60px 0px 0px;
}
.duties__item {
  list-style: none;
  color: var(--background-color);
  font-size: 26px;
  margin: 0px 0px 10px 0px;
  transform: translate(0px, 0px);
  transition: all 0.5s ease 0s;
}
.duties__item::before {
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M243.8 339.8C232.9 350.7 215.1 350.7 204.2 339.8L140.2 275.8C129.3 264.9 129.3 247.1 140.2 236.2C151.1 225.3 168.9 225.3 179.8 236.2L224 280.4L332.2 172.2C343.1 161.3 360.9 161.3 371.8 172.2C382.7 183.1 382.7 200.9 371.8 211.8L243.8 339.8zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"/></svg>');
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 0px 10px 0px 0px;
}
.duties__item:hover {
  transform: translate(-30px, 0px);
  transition: all 0.5s ease 0s;
}
.projects__list {
  margin: 0px 0px 120px 0px;
}
.projects__subtitle {
  margin: 100px 0px 0px 60px;
  font-size: 30px;
  color: var(--text);
}
.projects__title {
  margin: 0px 0px 100px 0px;
  font-size: 48px;
  color: var(--text);
  text-align: center;
}
.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__img {
  width: 100%;
  border-radius: 14px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--background-color);
  border-radius: 14px;
  width: 65%;
}
.text__title {
  font-size: 32px;
  margin: 0px 0px 20px 0px;
}
.text__subtitle {
  font-size: 24px;
  margin: 0px 0px 20px 0px;
}
.text__button {
  border-radius: 12px;
  padding: 10px 20px;
  background-color: var(--background-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.text__button:hover {
  background-color: var(--hover);
  transition: all 0.5s ease 0s;
}
.education {
  margin: 0px 0px 140px 0px;
}
.education__subtitle {
  margin: 30px 0px 0px 60px;
  font-size: 30px;
  color: var(--text);
}
.education__title {
  margin: 10px 0px 40px 0px;
  font-size: 48px;
  color: var(--text);
  text-align: center;
}
.hobbies {
  margin: 0px 0px 40px 0px;
}
.hobbies__subtitle {
  margin: 0px 0px 0px 60px;
  font-size: 30px;
  color: var(--text);
}
.hobbies__title {
  margin: 0px 0px 20px 0px;
  font-size: 48px;
  color: var(--text);
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.container1 {
  grid-area: 1 / 2 / 4 / 3;
}
.container2 {
  grid-area: 4 / 2 / 7 / 3;
}
.container3 {
  grid-area: 7 / 2 / 10 / 3;
}
.container4 {
  grid-area: 2 / 1 / 9 / 2;
}
.container__image {
  border-radius: 14px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.container1,
.container2,
.container3,
.container4 {
  position: relative;
  margin: 0 auto;
}
.container__content {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 14px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--background-color);
  width: 40%;
}
.container__content p {
  font-size: 24px;
  margin: 0;
  padding: 10px 0px;
}
.footer {
  height: 80px;
}
.footer__body {
  display: flex;
  flex-direction: row;
}
.footer__author {
  font-size: 24px;
  margin: 0px 0px 0px 0px;
}
.footer__list {
  display: flex;
  flex: 0 0 800px;
  justify-content: space-around;
  margin: 0px 0px 0px 0px;
}
.footer__item {
  list-style: none;
}
.footer__link {
  text-decoration: none;
  color: var(--text);
  font-size: 24px;
  transition: all 0.3s ease 0s;
}
.footer__link:hover {
  color: var(--hover);
  transition: all 0.3s ease 0s;
}
